header{
    width: 1550px;
    height: 160px;
    margin: auto;
    border-bottom: 2px solid #121212
}
.header-top{
    height: 30px;
    background: #f7f7f7;
    border-bottom:  1px solid #e9e9e9;
    padding-left: 189px
}
/* 二级菜单悬浮 */
.Hovering{
    width: 82px;
    
}
.Hovering .first{    
    width: 52px;
    height: 13px;
    border-left: 1px solid #e5e5e5;
    padding: 0 20px 0 10px;
    background: url(../images/jiantou.gif) no-repeat 65px 7px;
}
.Hovering:hover{
     background: #fff;
     border: 0;
}
.Hovering:hover .first{
    background:url(../images/jiantou2.gif) no-repeat 65px;
    
}
/* top--左 */
.top-left{
    width: 510px;
    height: 30px;
    line-height: 30px;
    float: left;
}
.top-left li{
    float: left;
}
.top-left .logo-s{
    width: 11px;
    height: 11px;
    margin-right: 5px;
    vertical-align: middle
} 
.left-li1{
    margin-right: 10px;
}
.left-last{
    margin-left: 10px;
}
.left-li2 .li2-aside{
    position: absolute;
    top: 30px;
    width: 189px;
    height: 49px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding:13px 29px 13px 28px;
    display: none;
    z-index: 1;
}
.left-li2 .li2-aside li{
    height: 13px;
    margin-bottom: 13px
}
.left-li2 .li2-aside li:nth-child(odd){
    float: left;    
    margin-right: 40px
}
.left-li2 .li2-aside li:nth-child(even){
    float: left;     
}
.left-li2 .li2-aside li:nth-child(4){
    margin-left: 23px
}

/* top-右 */
.top-right{
    width: 570px;
    height: 30px;
    line-height: 30px;
    float: left;
}
.top-right li{
    float: left;
    
}
.right-li1{
    margin-right: 20px;
    color: #666666
}
.right-li1 img{
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 5px;
}
.right-li3{
    width: 68px;
    height: 30px;
    margin-left: 10px   
}
.right-li3 a{   
    width: 48px;
    height: 13px;
    border-left: 1px solid #e5e5e5;
    padding-left: 10px;
}
.right-li3:hover{
    
}
.right-li3:hover a{   
    border: 0;   
    width: 48px;
    height: 30px;
    padding: 0 10px;
    border: 0;
}
.right-li4 .li4-aside{
    width: 72px;
    height: 128px;
    padding-left: 10px;
    background: #fff;
    position: absolute;
    z-index: 1;
    border: 1px solid #e5e5e5;
    border-top: 0;
    display: none
}
.right-li4 .li4-aside li{
    height: 13px;
    margin-bottom: 13px
}
.right-last{
    width: 60px;
    height: 30px;
}
.right-last a{
    width: 36px;
    height: 13px;
    border:1px solid #e5e5e5;
    border-top: 0;
    border-bottom: 0;
    padding: 0 10px;    
}
.li5-aside{
    width: 480px;
    height: 140px;
    background: #fff;
    border:1px solid #e5e5e5;
    border-top: 0;
    position: absolute;
    z-index: 1;
    padding-top: 15px;
    display: none
}
.li5-aside li{
    float: left;
    width: 94px;
    height: 120px;
    border-right: 1px dashed #e9e9e9;
    padding-left: 15px
}
.li5-aside li h3{
    font-size: 13px;
    font-weight: bold
}
.li5-aside li p{
    height: 13px;
    margin-bottom: 13px;
}
.li5-aside .last{
    border-right: 0
}
.li6-aside{
    width: 72px;
    height: 55px;
    padding-left: 10px;
    background: #fff;
    position: absolute;
    z-index: 1;
    border: 1px solid #e5e5e5;
    border-top: 0;
    display: none
}
.right-li6:hover .li6-aside{
    display: block
}
.right-li6 .li6-aside li{
    height: 13px;
    margin-bottom: 13px
}
.li6-aside li a:hover{
    color: #ff3d3d
}
.li7-aside{
    width: 240px;
    height: 144px;
    position: absolute;
    z-index: 1;
    background: #fff;
    padding: 22px 35px 9px 35px; 
    display: none
}
.li7-aside li{
    float: left;
    line-height: 13px        
}
.li7-aside .li1{
    margin-right: 55px
}
.li7-aside .img1{
    width: 88px;
    height: 88px;
    margin-bottom: 17px;
    margin-top: 5px;

}
.li7-aside .img2{
    width: 95px;
    height: 95px;
    margin-bottom: 17px;

}
.li7-aside .txt1{
    width: 88px;
    text-align: center

}
.li7-aside .txt1 p:nth-child(2){
    color: #ff3d3d;
    margin-top: 7px;
}
.li7-aside .txt2{
    width: 95px;
    text-align: center
}
.li7-aside .txt2 p:nth-child(2){
    color: #ff3d3d;
    margin-top: 7px;
}
.right-li7:hover .li7-aside{
    display: block
}
/* head-logo区域 */
.header-bottom{   
    height: 111px;
    padding-left: 189px;
    padding-top: 18px;
}
.head-logo{
    height: 60px;
    background: #fff;
}
.logo{
    width: 147px;
    height: 60px;
    float: left;
}
.iphone{
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 85px;
    margin-top: 5px
}
.iphone img{
    width: 100px;
    height: 50px;
}
.search{
    width: 513px;
    height:56px ;
    float: left;
    margin-top: 3px
}
.search-box{
    height: 36px;
}
.search-box input{
    width: 416px;
    height: 30px;
    border: 2px solid #ff3d3d;
    float: left;
    padding-left: 10px
}
.search-box button{
    width: 83px;
    height: 36px;
    background: #ff3d3d;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    color: #fff;
}
.nav-s{
    margin-top: 4px
}
.nav-s li{
    float: left;
    border-right: 1px solid #e9e5e9;
    padding: 0 12px 0 6px;
    color: #999999
}
.nav-s li:nth-child(1){
    padding-left: 0
}
.nav-s li:last-child{
    border-right: 0
}
.nav-s li:hover a{
    color: #ff3d3d;
    border-bottom: 1px solid #ff3d3d

}
.alipay{
    float: left;
    width: 121px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #d7d7d7;
    text-align: center;
    margin-left: 23px;
    margin-top: 3px;
    border-radius: 5px;
}
.alipay:hover{
    color: #ff3d3d;
    border-color: #ff3d3d;
}
/* 所有商品分类 */
.shop-list{
    height: 35px;
    margin-top: 16px;
    position: relative;
}
.shop-type{
    position: absolute;
    left: 0;
    width: 190px;
    height: 467px;
    background: #4e494a;
    z-index: 100;
}
.shop-type li{
    /* padding-left: 42px; */
    height: 30px;
    line-height: 30px;   
}
.shop-type li img{
    width: 16px;
    height: 16px;
    margin-left: 16px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
}
.shop-type a{
    font-size: 12px;
    color: #fff
}

.shop-type .type-li1{
    height: 35px;
    line-height: 35px;
    /* padding-left: 13px; */
    background:#151515;
    margin-bottom: 5px;
    color: #fff;
}
.shop-type .type-li1 img{
    width: 14px;
    height: 12px;
    margin-right: 25px;
    margin-left: 13px;
    /* vertical-align: middle */
}
.shop-type li a:hover{
    text-decoration: underline    
}
.shop-aside{
    /* width: 710px; */
    width: 1000px;
    /* height: 432px; */
    height: 412px;
    background:#fff;
    position: absolute;
    left: 190px;
    top: 37px;
    padding: 20px 0 0 25px;
    display: none;
    z-index: 100;   
}
.shop-aside .tu{
    width: 240px;
    height: 410px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.shop-aside .tu img{
    width: 240px;
    height: 200px;
}
.shop-aside ul{
    width: 752px;
    margin-bottom: 20px;
}
.shop-aside ul li a:hover{
    text-decoration: underline
}
.shop-aside ul .aside-li1 a:hover{
    text-decoration: none
}
.shop-aside .even{
    width: 685px;
    height:40px;
    border-bottom: 1px dashed #f3f3f3
}
.shop-aside .odd{
    width: 685px;
    height:23px;
    border-bottom: 1px dashed #f3f3f3
}
.shop-aside ul li{
    float: left;
    height: 23px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    margin-right: 18px;   
}
.shop-aside ul li a{
    color: #666666;
    height: 13px;
}
.shop-aside .aside-li1{
    margin-right: 25px;
}
.shop-aside .aside-li1 a{
    color: #000000;
    font-weight: bold

}
/* 所有商品分类---横排 */
.goods-list{
    margin-left: 190px;
}
.goods-list li{
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0  18px;
    position: relative;
    
}
.goods-list li a{
    color: #333;
    font-weight: bold
}
.goods-list li img{
    width: 23px;
    height: 12px;
    position: absolute;
    left: 37%;
    top: -12px;
    display: none    
}
.goods-list li:hover a{
    color: #ff3d3d
}
.goods-list li:hover img{
    display: block  
}


/* 轮播图区域 */
.banner-list{
    width: 1550px;
    height: 430px;
    margin: auto;
    position: relative; 
}
#left{
    display: block;
    width: 30px;
    height: 50px;
    line-height: 50px;
    background: #d6d1d1;
    position: absolute;
    left: 375px;
    top: 200px;
    opacity: 0.5;
    text-align: center;
    font-size: 22px;
    color: #938c8c;
    z-index: 1;
}
#right{
    display: block;
    width: 30px;
    height: 50px;
    line-height: 50px;
    background: #d6d1d1;
    position: absolute;
    right: 390px;
    top: 200px;
    opacity: 0.5;
    text-align: center;
    font-size: 22px;
    color: #938c8c;
    z-index: 1;
}

#list{
    width: 1550px;
    height:16px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    background:rgba(0, 0, 0, .3);
    bottom: 25px;
    text-align: center;
}

#list span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #b9beba;
    background: #fff;
    visibility: visible;
    margin-right: 10px 
}
#list span.active{
    width: 13px;
    height: 13px;
    border: 0;
    background: #333;
}
.logon{
    position: absolute;
    top: 5px;
    right: 170px;
    width: 220px;
    height: 420px;
}
.head{
    width: 220px;
    height: 110px;
    border-bottom: 1px solid #eeeeee
}
.head img{
    width: 42px;
    height: 42px;
    margin-left: 16px;
    margin-top: 16px;
    float: left;
    margin-right: 15px;
    
}
.msg{
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 20px;
    
}
.msg span:hover a{
    color: #ff6f6f
}
.gift{
    width: 185px;
    height: 25px;
    line-height: 25px;
    background: #fff3f5;
    margin-left: 14px;
    text-align: center;
    margin-top: 12px;
}
.gift a{
    color: #ff6f6f
}
.gift:hover{
    background: #ff6f6f
}
.gift:hover a{
    color: #fff
}
.logon-middle{
    width:175px;
    height: 105px;
    border-bottom: 1px solid #eeeeee ;
    padding:5px 30px 15px 15px;
}
.news span:nth-child(1){
    float: left;
    width: 70px;
    height:25px ;
    line-height: 25px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    border-bottom: 2px solid #ff6f6f
}
.news span:nth-child(2){
    float: right;
    height: 25px;
    line-height: 25px;;
}
.content{
    margin-top: 10px;
}
.content li{
    height: 20px;
    line-height: 20px;
}
.content li a span{
    color: #666666;
    font-weight: bold
}
.logon-bottom{
    width: 220px;
    height: 182px;
}
.logon-bottom li{
    float: left;
    width: 72px;
    height: 25px;
    background: #fff;
    text-align: center;
    padding-top: 35px;
}
.logon-bottom li:hover a{
    color: #ff6f6f
}
.logon-bottom li:nth-child(3n-1){
    border-left: 1px solid #eeeeee ;
    border-right: 1px solid #eeeeee ;
}
.logon-bottom li:nth-child(1){
    background: url(../images/life_i1_03.gif) no-repeat 28px 10px;
    background-size: 16px 21px;
}
.logon-bottom li:nth-child(1):hover{
    background: url(../images/life_i1_06.gif) no-repeat 28px 10px;
    background-size: 16px 21px;
}
.logon-bottom li:nth-child(2){
    background: url(../images/life_iz1_03.gif) no-repeat 26px 10px;
    background-size: 21px 21px;
}
.logon-bottom li:nth-child(2):hover{
    background: url(../images/life_iz1_06.gif) no-repeat 26px 10px;
    background-size: 21px 21px;
}
.logon-bottom li:nth-child(3){
    background: url(../images/life_i4_03.gif) no-repeat 26px 10px;
    background-size: 21px 21px;
}
.logon-bottom li:nth-child(3):hover{
    background: url(../images/life_i4_06.gif) no-repeat 26px 10px;
    background-size: 21px 21px;
}
.logon-bottom li:nth-child(4){
    border-top: 1px solid #eeeeee ;
    border-bottom: 1px solid #eeeeee ;
    background: url(../images/life_iz2_03.gif) no-repeat 26px 10px;
    background-size: 17px 21px;
}
.logon-bottom li:nth-child(4):hover{
    background: url(../images/life_iz2_06.gif) no-repeat 26px 10px;
    background-size: 17px 21px;

}
.logon-bottom li:nth-child(5){
    border-top: 1px solid #eeeeee ;
    border-bottom: 1px solid #eeeeee ;
    background: url(../images/life_iz3_03.gif) no-repeat 26px 10px;
    background-size: 17px 21px;
}
.logon-bottom li:nth-child(5):hover{
    background: url(../images/life_iz3_06.gif) no-repeat 26px 10px;
    background-size: 17px 21px;

}
.logon-bottom li:nth-child(6){
    border-top: 1px solid #eeeeee ;
    border-bottom: 1px solid #eeeeee ;
    background: url(../images/life_iz4_03.gif) no-repeat 26px 10px;
    background-size: 17px 21px;
}
.logon-bottom li:nth-child(6):hover{
    background: url(../images/life_iz4_06.gif) no-repeat 26px 10px;
    background-size: 17px 21px;

}
.logon-bottom li:nth-child(7){
    background: url(../images/life_i3_03.gif) no-repeat 28px 10px;
    background-size: 24px 21px;
}
.logon-bottom li:nth-child(7):hover{
    background: url(../images/life_i3_06.gif) no-repeat 28px 10px;
    background-size: 24px 21px;
}
.logon-bottom li:nth-child(8){
    background: url(../images/life_i6_03.gif) no-repeat 28px 10px;
    background-size: 19px 25px;
}
.logon-bottom li:nth-child(8):hover{
    background: url(../images/life_i6_06.gif) no-repeat 28px 10px;
    background-size: 19px 25px;
}
.logon-bottom li:nth-child(9){
    background: url(../images/life_i9_03.gif) no-repeat 28px 10px;
    background-size: 22px 17px;
    
}
.logon-bottom li:nth-child(9):hover{
    background: url(../images/life_i9_06.gif) no-repeat 28px 10px;
    background-size: 22px 17px;
}
/* 轮播图按钮 */
#show{
    width: 785px;
    height: 430px;
    margin-left: 375px;
    position: relative;
    overflow: hidden;
}
#show .banner-list{
    width: 4710px;
    height: 430px;
    position: absolute;
    
}
#show .banner-list li{
    float: left;
    width: 785px;
    height: 430px;
}
#show .banner-list li img{
    width: 785px;
    height: 430px;
}

/* 超值团 */
.Activity{
    width: 1301px;
    height: 245px;
    margin: auto;
    margin-top: 20px;
    padding-left: 189px;
    padding-right: 50px;
}
.Act-left{
    width: 220px;
    height: 245px;
    float: left;
}
.Act-left img{
    width: 220px;
    height: 245px;
}
.Act-right{
    float: left;
    width: 965px;
    height: 243px;
    border: 1px solid #e4e4e4;
    position: relative;
    overflow: hidden;   
}
.Act-right .left{
    display: block;
    width: 30px;
    height: 50px;
    line-height: 50px;
    background: #d6d1d1;
    position: absolute;
    left: 5px;
    top: 100px;
    opacity: 0.5;
    text-align: center;
    font-size: 22px;
    color: #938c8c;
    z-index: 1;
}
.Act-right .right{
    display: block;
    width: 30px;
    height: 50px;
    line-height: 50px;
    background: #d6d1d1;
    position: absolute;
    right: 5px;
    top: 100px;
    opacity: 0.5;
    text-align: center;
    font-size: 22px;
    color: #938c8c;
    z-index: 1;
}
.Act-shop {
    width: 1930px;   
}
.Act-shop li{
    float: left;
    position: absolute;
    opacity: 0;
}

.Act-shop li.active{
    opacity: 1;
}

.Act-list a{
    display:block;
    float: left;
    width: 160px;
    height: 233px;
    background: #fff;
    border-right: 1px dashed #e4e4e4;
    padding-bottom: 10px;
}
.Act-list a:last-child{
    border: 0
}
.Act-list img{
    width: 158px;
    height: 140px;
    margin-top: 15px;
}
.Act-list .txt{
    width: 140px;
    height: 70px;
    margin: auto;
    margin-bottom: 10px;
}
.Act-list .txt p:nth-child(1){
    color: #333333;
    height: 32px;
    margin-bottom: 10px;
}
.Act-list .txt p:nth-child(2){
    color: #ff6f6f;
    font-weight: bold;
    height: 13px;
    line-height: 13px
}
.Act-list .txt p:nth-child(3){
    color: #bbbbbb;
    margin-bottom: 0;
}
/* 相见恨晚 */
.Meet{
    width: 1301px;
    height: 370px;
    margin: auto;
    margin-top: 20px;
    padding-left: 189px;
    padding-right: 50px;
}
.pic-left{
    width: 305px;
    height: 370px;
    float: left;
    position: relative;
    overflow: hidden;
}
.btn{
    position: absolute;
    left: 33px;
    bottom: 33px;
}
.btn button{
    width: 30px;
    height: 6px;
    background: #fff;
    margin-right: 10px;
}
.pic-left img{
    width: 305px;
    height: 370px;
}
.left-img{
    width: 610px;
}
.left-img li{
    float: left;
}
.pic-right li{
    width: 285px;
    height: 180px;
    float: left;
    margin-left: 10px;
}
.pic-right li:nth-child(1){
    margin-bottom: 10px;
}
.pic-right li:nth-child(2){
    margin-bottom: 10px;
}
.pic-right li:nth-child(3){
    margin-bottom: 10px;
}
.pic-right li img{
    width: 285px;
    height: 180px;
}
/* 生鲜果蔬 */
.Vegetables{
    width: 1301px;
    height: 510px;
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px;
}
.title{
    font-size: 25px;
    color: #333;
    font-weight: bold;
    width: 1301px;
    height: 50px;
    line-height: 50px
}
.common-left{
    width: 305px;
    height: 460px;
    position: relative;
    overflow: hidden; 
    float: left;  
}
.common-left img{
    width: 305px;
    height: 460px;
}
.common-left .left-img{
    width: 915px;

}
.common-right{
    width: 887px;
    height: 459px;
    float: left;
    border: 1px solid #e4e4e4;
    border-left: 0
}
.right-top {
    width: 887px;
    height: 298px;
    border-bottom: 1px solid #e4e4e4
}
.right-top li{
    float: left;
    height: 298px;     
}
.right-top li:nth-child(1) img{
    width: 441px;
    height: 298px;
}
.right-top li:nth-child(1){
    width: 441px;
    height: 298px;
    border-right: 1px solid #e4e4e4;
     
}
.right-top li:nth-child(2) img{
    width: 220px;
    height: 298px;
}
.right-top li:nth-child(2){
    width: 220px;
    height: 298px;
    border-right: 1px solid #e4e4e4;
}
.right-top li:nth-child(3) img{
    width: 222px;
    height: 298px;
}
.right-top li:nth-child(3){
    width: 222px;
    height: 298px;
}
.right-bottom{
    width: 887px;
    height: 159px;
}
.right-bottom li{
    float: left;
    width: 220px;
    height: 160px;
    border-right: 1px solid #e4e4e4
}
.right-bottom li:last-child{
    border-right: 0
}
.right-bottom li img{
    width: 220px;
    height: 100px;
    margin-top: 30px;
}
/* 食品饮料酒 */
.Wine{
    width: 1301px;
    height: 510px;
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px;
}
.Wine-right .right-top li{
    float: left;
    width: 220px;
    height: 298px;
}
.Wine-right .right-top li img{
    width: 220px;
    height: 298px;
}
.Wine-right .right-top li:nth-child(3){
    border-right: 1px solid #e4e4e4
}
/* 时尚大牌 */
.Fashion{
    width: 1301px;
    height: 510px;
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px; 
}
.Fashion-right .right-top li{
    float: left;
    width: 220px;
    height: 298px;
}
.Fashion-right .right-top li img{
    width: 220px;
    height: 298px;
}
.Fashion-right .right-top li:nth-child(3){
    border-right: 1px solid #e4e4e4
}
.Fashion-right .right-bottom{
    width: 887px;
    height: 159px;
}
.Fashion-right .right-bottom .li1{
    width: 887px;
    height: 97px;
}
.bottom1 li{
    float: left;
    width: 220px;
    height: 97px;
}
.Fashion-right .right-bottom .li1 img{
    width: 220px;
    height: 97px;
    margin: 0
}
.Fashion-right .right-bottom .li2{
    width: 887px;
    height: 60px;
}
.bottom2 li{
    float: left;
    width: 150px;
    height: 60px;
    border: 0
}
.bottom2 li:nth-child(1){
    margin-left: 40px;
}
.bottom2 li img{
    width: 95px;
    height: 40px;
    margin-top: 10px;
}
/* 精品百货 */
.Boutique{
    width: 1301px;
    height: 510px;
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px; 
}
.Boutique-right .right-bottom{
    width: 887px;
    height: 159px;
}
.Boutique-right .right-bottom .li1{
    width: 887px;
    height: 97px;
}
.bottom1 li{
    float: left;
    width: 220px;
    height: 97px;
}
.Boutique-right .right-bottom .li1 img{
    width: 220px;
    height: 97px;
    margin: 0
}
.Boutique-right .right-bottom .li2{
    width: 887px;
    height: 60px;
}
.bottom2 li{
    float: left;
    width: 150px;
    height: 60px;
    border: 0
}
.bottom2 li:nth-child(1){
    margin-left: 40px;
}
.bottom2 li img{
    width: 95px;
    height: 40px;
    margin-top: 10px;
}
/* 个护清洁 */
.Clean{
    width: 1301px;
    height: 510px;
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px; 
}
/* 母婴玩具 */
.Baby{
    width: 1301px;
    height: 510px;
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px; 
}
/* 家居家纺 */
.Sunvim{
    width: 1301px;
    height: 510px; 
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px; 
}
/* 3C数码 */
.Digital{
    width: 1301px;
    height: 510px;   
    margin: auto; 
    margin-top: 20px;  
    padding-left: 189px;
    padding-right: 50px; 
}
/* 猜你喜欢 */
.like{
    width: 1301px;
    height: 90px;
    line-height: 90px;
    margin: auto; 
    padding-left: 189px;
    padding-right: 50px;
    position: relative; 
}
.like img{
    width: 25px;
    height: 23px;
    margin-right: 10px;
}
.line-1{
    width: 435px;
    margin-right: 30px;
    color: #ebebeb;
}
.line-2{
    width: 435px;
    margin-left: 30px;
    color: #ebebeb;
}
.like1{
    font-size: 23px;
    color: #333;
    margin-right: 5px;
}
.more{
    position: absolute;
    right: 165px;
    bottom: -30px;
}
.more span a{
    color: #ff3d3d
}
/* 商品展示区*/

div.wrap{
    width: 1301px;
    margin: auto; 
    padding-left: 189px;
    padding-right: 50px;
    padding-bottom: 29px;
    overflow: hidden; 
    /* position: relative; */
}
div.wrap .box {
    width: 225px;
    padding-top: 10px;
    border: 1px solid #e4e4e4;
    float: left;
    margin-bottom: 10px;
    /* position: absolute; */
}
div.wrap .box img {
    width: 225px;
}
.wrap .txt{
    width: 200px;
    padding: 0  10px;
    height: 35px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.wrap .price{
    width: 200px;
    padding: 0 10px;
    margin-bottom: 40px;
   
}
.wrap .price span:nth-child(1){
    float: left;
    color: #ff6f6f;
    font-size: 13px;
}
.wrap .price span:nth-child(2){
    float: right;
    width: 35px;
    height: 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    font-size: 13px;
    background: url(../images/heart_03.gif) no-repeat 5px 4px;
    background-size: 13px 12px;
    padding-left: 25px;   
}
.wrap .price span:nth-child(2):hover{
    color: #ff6f6f;
    background: url(../images/heart.gif) no-repeat 5px 4px;
    background-size: 13px 12px;
}
div.wrap div:nth-child(5n-3){
    margin-left: 13px;
    margin-right: 13px;
}
div.wrap div:nth-child(5n-1){
    margin-left: 13px;
    margin-right: 13px;
}
/* 底部 */
.foot{
    width: 1020px;
    height: 338px;
    padding: 20px 290px 27px 240px;
    background:#f3f3f3;
    margin: auto; 

}
.foot-1{
    width:1020px;
    height: 165px;
}
.foot-1 ul{
    float: left;
}
.list-1{
    margin-right: 100px;
}
.list-1 li img{
    width: 40px;
    height: 40px; 
    margin-right: 15px;
}
.list-1 li{
    padding-left: 55px;
    height: 23px;
    line-height: 23px;
}
.list-1 li:nth-child(1){
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-items: center;
}
.list-2{
    margin-right: 72px;
}
.list-4{
    margin-right: 100px;
    width: 133px;
}
.list-5{
    margin-right:0;
}
.foot-1 li:hover a{
    text-decoration: underline;
    color: #ff6f6f
}
.foot-2{
    width: 1020px;
    height: 128px;
    margin-top: 45px;
}
.bottom-1{
    height: 13px;
    padding-left: 323px;
    margin-bottom: 13px;
}
.bottom-1 li{
    float: left;
    width: 74px;
    border-right: 1px solid #af99af;
    text-align: center
}
.bottom-1 li:last-child{
    border-right: 0
}
.bottom-1 li:hover a{
    color: #ff6f6f
    
}
.bottom-2{
    height: 13px;
    padding-left: 313px;
    margin-bottom: 13px;
}
.bottom-2 li{
    float: left;
    border-right: 1px solid #af99af;
    text-align: center;
    padding: 0 13px;
    color: #999999
}
.bottom-2 li:last-child{
    border-right: 0
}
.bottom-3{
    text-align: center;
    padding-left: 100px;
    margin-bottom: 6px;


}
.bottom-4{
    text-align: center;
    padding-left: 80px;
    margin-bottom: 13px;
}
.bottom-5 {
    padding-left: 265px;
    height: 22px;
}
.bottom-5 li{
    float: left;
    height: 22px;
    display: flex;
    justify-items: center;
    margin-right: 23px;
}
.bottom-5 li img{
    margin-right: 13px;
}